.el-input__prefix {
  .el-input__prefix-inner {
    display: flex;
    align-items: center;
  }
}

.el-input__inner {
  font-size: initial;
}

.el-tabs__header {
  margin-bottom: 6px;
}

.el-dialog {
  .el-dialog__header {
    margin-right: 0;
  }
  .el-dialog__title {
    font-weight: 800;
  }
  .el-dialog__body {
    text-align: left;
    line-height: 1.6;
    padding: 0;
  }
  .dialog-footer {
    text-align: center;
  }
}

.el-checkbox.el-checkbox--large {
  height: 20px;
}

.el-checkbox__input.is-checked + .el-checkbox__label {
  color: #4a5516;
}

.el-checkbox__input.is-checked .el-checkbox__inner {
  background-color: #4a5516;
  border-color: #4a5516;
}

.theme-text-color {
  color: #4a5516;
}

.theme-bg-color {
  color: #ffffff;
  background-color: #4a5516;
}

.theme-border-color {
  border: 1px solid #4a5516;
}

.login-checkbox {
  .el-checkbox-checked-bg-color {
    background-color: #4a5516;
  }
}

.import-color {
  color: #ffffff;
  background-color: #b71e1f;
}

.el-button:nth-child(2) {
  margin-left: 0;
}

.el-button {
  border: none;
}

.el-button:focus,
.el-button:hover {
  appearance: none;
}

.content-body {
  overflow-y: scroll;
}
