body {
  background-color: #f5f5f5;
  font-family: Base, Avenir, sans-serif, Helvetica, Arial;
}

.el-input {
  .el-input__inner {
    height: 50px;
    font-size: initial;
  }
}

.el-input__prefix {
  .el-input__prefix-inner {
    display: flex;
    align-items: center;
  }
}

.el-dialog {
  min-height: 30%;
  .el-dialog__title {
    font-weight: 800;
  }
  .el-dialog__body {
    text-align: left;
    line-height: 1.6;
    padding: 10px 30px;
  }
  .dialog-footer {
    text-align: center;
  }
}

.el-checkbox.el-checkbox--large {
  height: 20px;
}

.theme-text-color {
  color: #4a5516;
}

.theme-bg-color {
  color: #ffffff;
  background-color: #4a5516;
}

.login-checkbox {
  .el-checkbox-checked-bg-color {
    background-color: #4a5516;
  }
}

.import-color {
  color: #ffffff;
  background-color: #b71e1f;
}

.el-button:nth-child(2) {
  margin-left: 0;
}

.el-button {
  border: none;
}

.el-button:focus,
.el-button:hover {
  appearance: none;
}
